.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.gameScreenRightWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.gamePlayerColumnWrapper {
  height: 100%;
  color: white;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 5px white solid;
}

.playerColumnYes {
  padding: 5px;
  border: 3px solid green;
}

.playerColumnNo {
  padding: 5px;
  border: 3px solid red;
}

.playerColumnElectionItemName {
  border-bottom: 1px solid white;
  padding: 5px;
}

.playerColumnElectionItemValue {
  padding: 5px;
}

.gamePoliciesWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex: 3;
}

.policiesView {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.policyCardWrapper {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.policyCard {

}

.gameRoleInfoWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 2;
}
