.container {
  display: flex;
  text-align: center;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: inherit;
}

.appFooter {
  display: flex;
  color: white;
  width: 100%;
  text-align: left;
  justify-content: space-between;
}

.footerGithubLink {
  color: rgb(191, 136, 115);
}

.footerItem {
  margin-left: 5px;
  margin-right: 5px;
}

.textWhite {
  color: white !important;
}

.linkHome {
  color: white;
  text-decoration: none;
  position: absolute;
}

.menuButton {
  margin: 12px;
  color: white;
}

.menuButton button {
  height: 3em !important;
  line-height: 3em !important;
}

.menuButton button div div {
  height: 3em !important;
}

.menuButton button div div span {
  font-size: 1.5em !important;
}

.menuButton a {
  height: 3em !important;
  line-height: 3em !important;
}

.menuButton a div div {
  height: 3em !important;
}

.menuButton a div div span {
  font-size: 1.5em !important;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1
}

.formButton {
  margin: 22px;
}

.paper {
  height: 100%;
  width: 100%;
  padding: 8px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
