html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
    height: 100%;
    margin: 0 !important;
    background: url("../images/gs_symbol.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#app {
    height: 100%;
}

