html {
  font-family: 'Roboto', sans-serif;
  height: calc(100% - 16px);
}

body {
  height: 100%;
  overflow: hidden;
}

#app {
    height: 100%;
}

#footer{
    position: absolute;
    bottom: 12px;
    width: calc(100% - 16px);
}

#container {
    text-align: center;
    height: 100%;
}

