.subheader {
    font-size: 16px !important;
    padding: 0px;
    line-height: 24px !important;
}

.listItemLarge {
    font-size: 32px;
    height: 64px;
    line-height: 32px;
}

.listItemSmall {
    font-size: 24px;
    height: 48px;
    line-height: 20px;
    font-weight: bold;

}

.listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: inherit;
  padding: 10px;
  width: 85%;
  z-index: 2;
}

.listPaper {
  width: 100%;
  padding: 20px;
}

.list {
  width: 100%;
}

.optionListRadioButtonsWrapper{
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-bottom: 20px;*/
  max-height: 45vh;
  overflow: auto;
  padding: 10px;
}

.optionListRadioButtonsWrapper > div {
  width: 100%;
  height: 100%;
}

.optionListRadioButtonsWrapper > div > div {
  padding-top: 5px;
  padding-bottom: 5px;
}

.optionListRadioButtonsWrapper > div > div > div {
  justify-content: center;
}

.optionListRadioButtonsWrapper > div > div > div > label {
  /*width: initial !important;*/
  width: calc(100% - 96px) !important;
  margin-right: 36px !important;
  font-size: 18px;
}

.optionListRadioButtonsWrapper > div > div > div > div > div > span {
  left: 0px !important;
}

.radioNormal > div > label {

}

.radioNotSelected > div > label {
  color: #787878 !important;
  text-decoration: line-through;
}

.radioSelected > div > label {
  color: rgb(0, 151, 167) !important;
  font-weight: bold;
}

.button {
  margin: 22px;
}

.container {
  display: flex;
  flex-grow: inherit;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.connectingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: inherit;
}

.paper {
  height: 100%;
  width: 100%;
  padding: 8px 25px
}

.header {
  color: white;
  text-shadow: 1px 1px 5px black;
  font-size: 4vh;
}

.specialRole {
  width: 100%;
  background-color: #f26b28;
  color: white;
  font-size: 18px;
}

.roleDialog {
  width: 90%;
  margin: 10px;
}

.cardWrapper {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 5px solid rgb(191, 136, 115);
  box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.25);
  margin: 0 auto;
  width: 200px;
}

.cardImage {
  border-radius: 20px;
  background-color: white;
  max-height: inherit;
  width: 180px;
}

.cardText {
  color: black;
  font-size: 36px;
  margin: 10px;
  font-weight: bold;
}

.previousChoice {
  line-height: 48px;
  font-style: italic;
}

.dialogStyle {
  padding-top: 0px !important;
}
