.subheader {
    font-size: 14px;
    padding: 0px;
}

.listItemLarge {
    font-size: 32px;
    height: 64px;
    line-height: 32px;
}

.listItemSmall {
    font-size: 24px;
    height: 48px;
    line-height: 20px;
    font-weight: bold;

}

.listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: inherit;
  width: 80%;
}

.listPaper {
  width: 100%;
  padding: 10px;
}

.list {
  width: 100%;
}


.button {
  margin: 22px;
}

.container {
  display: flex;
  flex-grow: inherit;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.connectingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: inherit;
}

.paper {
  height: 100%;
  width: 100%;
  padding: 8px 25px
}

.header {
  color: white;
  text-shadow: 1px 1px 5px black;
}

.specialRole {
  width: 100%;
  background-color: #f26b28;
  color: white;
  font-size: 18px;
}

.roleDialog {
  width: 90%;
  margin: 10px;
}

.cardWrapper {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 5px solid black;
  margin: 0 auto;
  width:200px;
}

.cardImage {
  width: 90%;
  border-radius: 20px;
  background-color: white;
  max-height: inherit;
  width: 180px;
}

.cardText {
  color: black;
  font-size: 36px;
  margin: 10px;
  font-weight: bold;
}

.previousChoice {
  line-height: 48px;
  font-style: italic;
}

.dialogStyle {
  padding-top: 0px !important;
}
