/*
darkGray = "#535353";
mediumGray = "#787878";
red = "#9f2a1c";rgb(159, 42, 28)
green = "#887221";rgb(136, 114, 33);
blue = "#006cb2";
lightBlue = "#b7ddf1";
orange = "#f26b28";
beige = "#e8d17f";
senateGold="rgb(191, 136, 115)";
*/

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.gameStarting {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 5px black;
  font-size: 6vh;
  padding: 30px;
}

.gameScreenRightWrapper {
  display: flex;
  flex: 4;
  flex-direction: column;
  padding: 5px;
}

.gamePlayerColumnWrapper {
  flex: 1;
  color: white;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 3px #bf8873 solid;
  overflow-y: scroll;
}

.playerColumnYes {
  padding: 5px;
  margin: 2px;
  border: 3px solid rgb(136, 114, 33);
  background-color: rgba(136, 114, 33, 0.1);
  font-size: 1.5vw;
}

.playerColumnNo {
  padding: 5px;
  margin: 2px;
  border: 3px solid rgb(159, 42, 28);
  background-color: rgba(159, 42, 28, 0.15);
  font-size: 1.5vw;
}

.playerColumnNeutral {
  padding: 5px;
  margin: 2px;
  border: 3px solid rgba(191, 136, 115, 1);
  font-size: 1.5vw;
  background-color: rgba(191, 136, 115, 0.10);
}

.playerColumnToken {
  border-bottom: 1px solid white;
  padding: 8px;
}

.playerColumnElectionItemName {
  font-weight: bold;
}

.playerColumnElectionItemPlainName {
  padding: 8px;
  font-weight: bold;
}

.playerColumnElectionItemValue {
  padding: 8px;
}

.gamePoliciesWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex: 2;
}

.policiesView {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.policyCardWrapper {
  height: 100%;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  border: 3px double rgb(191, 136, 115);
  background-color: rgba(191, 136, 115, 0.10);
}

.policyCardSlot {
  border-right: 5px double #bf8873;
  width: 100%;
  height: 100%
}

.policyCardSlotLast {
  width: 100%;
  height: 100%;
}

.policyCardLoyalist {
  height: 100%;
  background-color: rgba(227, 227, 227, 1); /* alt 255, 255, 255 */
  box-shadow: inset 0px 0px 15px 4px rgba(0, 0, 0, 0.4); /* alt 191, 136, 115, 0.60 */
}

.policyCardSeparatist {
  height: 100%;
  background-color: rgba(62, 70, 88, 1); /* alt 9, 11, 15*/
  box-shadow: inset 0px 0px 15px 4px rgba(0, 0, 0, 0.60); /* alt 191, 136, 115*/
}

.policyCardImage {
  height: 70%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.policyCardPowersText {
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.25vw;
}

.gameInfoWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 2;
}

.gameGeneralInfoWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  flex: 1;
}

.generalInfoHeader {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
}

.generalInfoBodyWrapper {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.electionTrackerBodyWrapper {
  display: flex;
  flex: 2;
}

.electionTrackerContainer {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.electionTrackerTrack {
  height: 5vmin;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border: 3px solid rgb(191, 136, 115);
  border-right-width: 1px;
  background-color: rgba(191, 136, 115, 0.10);
  margin-left: -3px;
}

.electionTrackerSlot {
  border-right: 2px solid #bf8873;
  width: 100%;
}

.electionTrackerMarker {
  /*width: 100%;*/
  height: 100%;
  background-color: white;
  box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.25);
}

.electionTrackerImage {
  position: relative;
  width: auto;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.generalInfoBodyItem {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.generalInfoBodyItemHeader {
  font-size: 1.5vw;
}

.generalInfoBodyItemValue {
  font-size: 2vw;
  font-weight: bold;
  padding: 10px;
}

.cardsInDeckContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.generalInfoCardsInDeckBarBorder {
  width: 100%;
  height: 5vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(191, 136, 115);
  border-radius: 100px;
  overflow: hidden;
}

.generalInfoCardsInDeckBarFill {
  width: 100%;
  border-radius: 100px 0px 0px 100px;
  height: 5vmin;
  background-color: white;
  box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.25);
}

.generalInfoCardsInDeckBarEmpty {
  width: 0%;
  border-radius: 0px 100px 100px 0px;
  height: 5vmin;
  background-color: rgba(191, 136, 115, 0.10);
  box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.25);
}

.generalInfoCardsInDeckText {
  position: absolute;
  color: #2a3242;
  font-weight: bold;
  font-size: 1.75vw;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 1);
}

.gameEventWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 2;
}

.gameEventDisplay {
  width: 100%;
  margin: 10px;
  border: 1px ridge white;
}

.gameEventBackground {
  width: 100%;
  height: 100%;
  background-color: black;
}

.gameEventImage {
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameEventHeader {
  color: white;
  padding: 20px;
  font-size: 2.5vw;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

.gameEventSubheader {
  color: white;
  padding: 20px;
  font-size: 1.75vw;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}
