/*
darkGray = "#535353";
mediumGray = "#787878";
red = "#9f2a1c";rgb(159, 42, 28)
green = "#887221";rgb(136, 114, 33);
blue = "#006cb2";
lightBlue = "#b7ddf1";
orange = "#f26b28";
beige = "#e8d17f";
senateGold="rgb(191, 136, 115)";
*/

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.gameScreenRightWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.gamePlayerColumnWrapper {
  height: 100%;
  color: white;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 3px #bf8873 solid;
  overflow-y: scroll;
}

.playerColumnYes {
  padding: 5px;
  border: 3px solid rgb(136, 114, 33);
  background-color: rgba(159, 42, 28, 0.1);
}

.playerColumnNo {
  padding: 5px;
  border: 3px solid rgb(159, 42, 28);
  background-color: rgba(159, 42, 28, 0.1);
}

.playerColumnNeutral {
  padding: 5px;
  border: 3px solid white;
}

.playerColumnToken {
  border-bottom: 1px solid white;
  padding: 8px;
}

.playerColumnElectionItemName {
  border-bottom: 1px solid white;
  padding: 8px;
  font-weight: bold;
}

.playerColumnElectionItemPlainName {
  padding: 8px;
  font-weight: bold;
}

.playerColumnElectionItemValue {
  padding: 8px;
}

.gamePoliciesWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex: 3;
}

.policiesView {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.policyCardWrapper {
  height: 100%;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  border: 3px double rgb(191, 136, 115);
  padding: 10px;
  background-color: rgba(191, 136, 115, 0.10);
}

.policyCardSlot {
  border-right: 2px solid #bf8873;
  width: 100%;
}

.policyCardSlotLast {
  width: 100%;
}

.policyCard {
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}

.policyCardImage {
  width: 70%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.policyCardPowersText {
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.gameInfoWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 2;
}

.gameGeneralInfoWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  flex: 1;
}

.generalInfoHeader {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
}

.generalInfoBodyWrapper {
  display: flex;
  flex: 3;
}

.generalInfoBodyItem {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.generalInfoBodyItemHeader {
  font-size: 20px;
}

.generalInfoBodyItemValue {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}

.gameEventWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
}

.gameEventDisplay {
  width: 100%;
  margin: 20px;
  border: 1px ridge white;
}

.gameEventBackground {
  width: 100%;
  height: 100%;
  background-color: black;
}

.gameEventImage {
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameEventHeader {
  color: white;
  padding: 20px;
  font-size: 24px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

.gameEventSubheader {
  color: white;
  padding: 20px;
  font-size: 16px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}
